In [134]:
#Suvarna Sampale 
#Homework04 Pandas
#Heroes Of Pymoli Data Analysis

#names of dataframes
#purchase contains all the data loaded from the purchase_data.csv file
#totalplayersdf contains the total number of players of the game
#PAT contains Average Price (formatted), Number of Purchases, Number of Unique Items, and Total Revenue (formatted).
#male contains all of the data in purchase just for the males
#female contails all of the data in purchase just for females
#other contains all of the data in purchase just for other/non-disclosed
#genderdemographnics1 contains a row of gender and percentages and counts of male, female, and other /non-disclosed
#genderdemographics2 contains everything in genderdempographics 1 with gender set as the index

In [135]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase = pd.read_csv(file_to_load)
purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [136]:
# Player Count
# Display the total number of players
totalplayercount = purchase["SN"].value_counts()
totalplayer = len(totalplayercount)
totalplayerdf = pd.DataFrame([{"Total Players":totalplayer}])
totalplayerdf

   Total Players
0            576

In [137]:
# Purchasing Analysis (Total)
#unique items
uniqueitemscount = purchase["Item ID"].value_counts()
ui = len(uniqueitemscount)
ui
#average purchase price
averagepurchaseprice = purchase["Price"].mean()
averagepurchaseprice
#number of purchases
numberpurchases = purchase["Price"].count()
numberpurchases
#totalrevenue
totalrevenue = purchase["Price"].sum()
totalrevenue
PAT = pd.DataFrame([{"Number of Unique Items":ui,
                    "Average Price":averagepurchaseprice,
                    "Number of Purchases":numberpurchases,
                    "Total Revenue":totalrevenue}])
PAT
PAT["Average Price"] = PAT["Average Price"].map("${:.2f}".format)
PAT["Total Revenue"] = PAT["Total Revenue"].map("${:.2f}".format)
PAT
PAT = PAT[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
PAT

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [138]:
# Gender Demographics - Percentage and Count of Male Players, Female Players, and Other / Non-Disclosed

# Percentage and Count of Male Players
male = purchase.loc[purchase["Gender"] == "Male", :]
male_num = male["SN"].value_counts()
male_num
totalmale = len(male_num)
totalmale
percentmale = round((totalmale / totalplayer)*100,2)

# Percentage and Count of Female Players

female = purchase.loc[purchase["Gender"] == "Female", :]
female_num = female["SN"].value_counts()
female_num
totalfemale = len(female_num)
totalfemale
percentfemale = round((totalfemale / totalplayer)*100,2)

# Percentage and Count of Other / Non-Disclosed
other1 = purchase.iloc[9,3]
other1
other = purchase.loc[purchase["Gender"] == "Other / Non-Disclosed", :]
other
other_num = other["SN"].value_counts()
other_num
totalother = len(other_num)
totalother
percentother = round((totalother / totalplayer)*100,2)
percentother

genderdemographics1 = pd.DataFrame([{"Gender":"Male","Total Count":totalmale,"Percentage of Players":percentmale},
                       {"Gender":"Female","Total Count":totalfemale,"Percentage of Players":percentfemale},
                       {"Gender":"Other/Non-Disclosed", "Total Count":totalother,"Percentage of Players":percentother}])


genderdemographics2 = genderdemographics1.set_index("Gender")
genderdemographics2
del genderdemographics2.index.name
genderdemographics2
genderdemographics2 = genderdemographics2[["Total Count","Percentage of Players"]]
genderdemographics2

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91

In [156]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame
genderanalysisdf = purchase.groupby("Gender")
genderanalysisdf
purcount = genderanalysisdf["Purchase ID"].count()
purcount
g_avg_pur_price = genderanalysisdf["Price"].mean()
g_avg_pur_price

total_pur_value = genderanalysisdf["Price"].sum()
total_pur_value


#gender_analysis_summary_table = pd.DataFrame({"purchase count":purcount, average purchase price":g_avg_pur_price})
#gender_analysis_summary_table.head()

Gender
Female                   379.380531
Male                     392.516871
Other / Non-Disclosed    334.600000
Name: Purchase ID, dtype: float64